*.iml
.idea
*/target/**
**/.DS_Store
/todolist-core/.classpath
/todolist-web-common/.classpath
/todolist-web-struts/.classpath
/.dccache
/todolist-core/.project
/todolist-web-common/.project
/todolist-web-struts/.project
/.project
/.settings/org.eclipse.core.resources.prefs
/todolist-core/.settings/org.eclipse.core.resources.prefs
/todolist-web-common/.settings/org.eclipse.core.resources.prefs
/todolist-web-struts/.settings/org.eclipse.core.resources.prefs
/todolist-core/.settings/org.eclipse.jdt.apt.core.prefs
/todolist-web-common/.settings/org.eclipse.jdt.apt.core.prefs
/todolist-web-struts/.settings/org.eclipse.jdt.apt.core.prefs
/todolist-core/.settings/org.eclipse.jdt.core.prefs
/todolist-web-common/.settings/org.eclipse.jdt.core.prefs
/todolist-web-struts/.settings/org.eclipse.jdt.core.prefs
/.settings/org.eclipse.m2e.core.prefs
/todolist-core/.settings/org.eclipse.m2e.core.prefs
/todolist-web-common/.settings/org.eclipse.m2e.core.prefs
/todolist-web-struts/.settings/org.eclipse.m2e.core.prefs
